/** 

**Filename On Mendix**

Related pages:

    1. **MobileServiceLayer.Filename**
    2. **WebServiceLayer.Filename**


**/


/*
Responsive Portrait Orientation
*/

@media (max-width: 897px) {

}

/*
Responsive Landscape Orientation
*/

@media screen and (orientation:landscape)
and (max-width: 897px)  { 

}


/*
Desktop Web 
*/
.sidebar-content{
    min-width: 70px;
    max-width: 70px;
    // min-height: 30vh;
    position: fixed;
    // overflow: hidden;
    // flex-direction: row;
    background-color: #3F475A;
    // justify-content: flex-end;
    border-radius: 0.5rem;
    margin: 100px 0px;
    padding: 10px 10px;



}

.ibxview_bar{
    padding-top: 1.5rem;
    align-items: center;
    display: block;
        
.ibx_page{
    color: #AAF455;
    font-size: 3rem;
}
    
}


.jarvis_bar{
    padding-top: 4.5rem;
    align-items: center;
    display: block;

    .jarvis_page{
        padding-right: 1rem;
        font-size: 3rem; 
    }
}

.onsite_bar{
    padding-top: 4.5rem;
    align-items: center;
    display: block;

    .onsite_page {
        font-size: 3rem;
    }
}

